*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/***** Header *****/
header{
	width: 100%;
	height: 5%;
	min-height: 2em;
	background-color: #000;
}

/***** Left Header *****/
.hd-left{
	height: 100%;
	width: 30%;
	display: inline-block;
	float: left;
	position: relative;
	left: 10%;
}
.stackexchange{
	height: 90%;
	width: 60%;
	position: relative;
	top: .5em;
}

.stackexchange h4{
	font-size: .8em;
	display: inline-block;
}
.stackexchange h4:first-child{
	color: white;
}

.stackexchange h4:nth-child(2){
	color: #07d;
}

.down-arrow{
	width: 0;
	height: 0;
	border-left: .3em solid transparent;
	border-right: .3em solid transparent;
	border-top: .3em solid #aaa;
	display: inline-block;
	position: relative;
	bottom: 1em;
	left: 7em;
	/*bottom: 34.8em;*/
	float: left;
}

/***** Right Header *****/

.hd-right{
	height: 100%;
	width: 32%;
	display: inline-block;
	float: right;
	position: relative;
	right: 10%;
}

.hd-right-img{
	width: 2em;
	margin-top: 1%;
	display: inline-block;
}

.hd-right-img img{
	width: 100%;
}

.hd-right-points{
	width: 20%;
	position: absolute;
	top: .7em;
	left: 8%;
	font-size: .8em;
}

.hd-right-points span{
	color: white;
	display: inline-block;
}

.small-circle{
	width: .5em;
	height: .5em;
	border-radius: 100%;
	background-color: orange;
	display: inline-block;
}

.help-button{
	width: 10%;
	height: 100%;
	position: absolute;
	top: .5em;
	/*left: 5em;*/
	display: inline-block;
}

.help-button span{
	color: #fff;
	font-weight: normal;
	position: relative;
	left: 6em;
	font-size: .8em;
}

.help-button .down-arrow{
	position: relative;
	top: .4em;
}

.hd-searchbar{
	width: 20%;
	min-width: 12em;
	height: 70%;
	background-color: white;
	float: right;
	position: relative;
	top: 15%;
}

.hd-searchbar h6{
	color: #ccc;
	position: relative;
	left: 1em;
	top: .2em;
	font-size: .9em;
	font-weight: normal;
}

/**** Page Container ******/
.page-container{
	width: 90%;
	min-width: 45em;
	height: 100%;
	position: absolute;
	left: 10%;
}
/***** Nav Bar *****/

.nav-bar{
	width: 80%;
	min-width: 45em;
	height: 15%;
	min-height: 4em;
	position: absolute;
	/*left: 10%;*/
}

.so-logo{
	width: 5%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.so-logo-box{
	width: 80%;
	height: 30%;
	border: 3px solid #aaa;
	border-top: none;
	position: relative;
	top: 30%;
	left: 10%;
}

.so-logo-rectangle{
	width: 50%;
	height: .27em;
	z-index: 2;
}

.so-logo-rectangle:first-child{
	background-color: #F78E31;
	position: relative;
	left: 60%;
	top: 32%;
	transform: rotate(60deg);
}

.so-logo-rectangle:nth-child(2){
	background-color: orange;
	position: relative;
	left: 43%;
	top: 33%;
	transform: rotate(45deg);
}

.so-logo-rectangle:nth-child(3){
	background-color: #FFC561;;
	position: relative;
	left: 32%;
	top: 37%;
	transform: rotate(27deg);
}

.so-logo-rectangle:nth-child(4){
	background-color: #E8BE76;
	position: relative;
	left: 26%;
	top: 42%;
	transform: rotate(15deg);
}

.so-logo-rectangle:nth-child(5){
	background-color: #BFA373;
	position: relative;
	left: 25%;
	top: 47%;
	transform: rotate(5deg);
}

.so-logo-rectangle:nth-child(6){
	background-color: grey;
	position: relative;
	left: 25%;
	top: 50%;
}

.nav-title{
	width: 30%;
	display: inline-block;
	position: relative;
	bottom: 12%;
	font-weight: normal;
}

.nav-title h1{
	font-weight: normal;
}
.nav-options{
	display: inline-block;
	border: 1px solid black;
	background-color: #aaa;
	position: relative;
	/*right: 8%;*/
	bottom: 18%;
	padding: .2em .5em;
}

.nav-options:last-child{
	position: absolute;
	right: -12%;
	bottom: 10%;
}

.nav-options h3{
	color: white;
	font-weight: normal;
	font-size: .9em;

}


/***** Main Container *****/

.main-container{
	width: 70%;
	height: 80%;
	display: block;
	float: left;
	position: relative;
	top: 7em;
	margin-right: 2%;
}

.question-row{
	width: 100%;
	height: 15%;
	min-height: 3em;
	border-top: 1px solid #aaa;
	position: relative;
	display: block;
}

.question-row:first-child{
	height: 8%;
	border: none;
}

.top-questions{
	width: 50%;
	height: 100%;
	display: inline-block;
	border-bottom: 1px solid #aaa;
}

.top-questions h3{
	position: relative;
	top: .6em;
}

.interesting-box{
	width: 15%;
	height: 100%;
	position: absolute;
	left: 50%;
	display: inline-block;
	border: 1px solid #aaa;
	border-bottom: none;
}

.interesting-box h6{
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	bottom: .4em;
	left: 1em;
}

.featured-box{
	width: 15%;
	height: 100%;
	position: absolute;
	left: 65%;
	display: inline-block;
	border-bottom: 1px solid #aaa;
}

.number-box{
	width: 30%;
	height: 40%;
	padding: .3em .2em;
	background-color: #07d;
	display: inline-block;
	font-size: .6em;
	color: white;
	position: relative;
	top: 40%;
	left: 15%;
	text-align: center;
	border-radius: 20%;
}

.featured{
	font-size: .7em;
	position: relative;
	top: 40%;
	left: 15%;
	display: inline-block;
}

.hot{
	width: 5%;
	height: 100%;
	position: absolute;
	left: 80%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.week{
	width: 7.5%;
	height: 100%;
	position: absolute;
	left: 85%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.month{
	width: 7.5%;
	height: 100%;
	position: absolute;
	left: 92.5%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.qr-header span{
	position: relative;
	top: 45%;
	left: 20%;
}

.question-row:nth-child(2){
	border-top: none;
}
.mini-box{
	width: 10%;
	height: 10%;
	text-align: center;
	position: relative;
	top: 20%;
}

.votes{
	position: absolute;
	left: 0;
	color: #000;
}

.answers{
	position: absolute;
	left: 10%;
	color: red;
}

.views{
	position: absolute;
	left: 20%;
	color: #bbb;
}

.question-title{
	width: 70%;
	height: 50%;
	position: absolute;
	left: 30%;
}

.question-title h6{
	color: #07d;
	font-weight: bold;
	font-size: .8em;
	position: absolute;
	bottom: 0;
}

.posted-by{
	position: absolute;
	right: 0;
	bottom: 1em;
	color: #aaa;
	font-size: .8em;
}

.posted-by span:first-child{
	color: #07d;
}

.posted-by span:nth-child(2){
	color: #000;
}

/***** Right Sidebar *****/

.right-sidebar{
	width: 18%;
	min-width: 12em;
	height: 80%;
	float: right;
	position: relative;
	top: 20%;
	right: 10%;
	display: block;
}

.rs-top{
	width: 100%;
	height: 55%;
	background-color: lightyellow;
	border: 1px solid #ccc;
	position: absolute;
	display: block;
}

.rs-top h4{
	color: #aaa;
	font-size: .8em;
	margin: .5em 1em;
}

.rs-top hr{
	width: 90%;
	position: relative;
}

.rs-top p{
	width: 80%;
	position: relative;
	left: 10%;
	color: #07d;
	font-size: .7em;
	margin-bottom: .2em;
}

.rs-top p span{
	color: #000;
	display: block;
}

.rs-middle{
	width: 100%;
	height: 10%;
	display: block;
	position: absolute;
	top: 55%;
}

.rs-middle h4{
	margin: .3em;
	font-size: .8em;
	width: 50%;
	display: inline-block;
}

.rs-middle h6{
	width: 40%;
	display: inline-block;
	color: #07d;
	font-size: .5em;
	margin: .3em;

}

.rs-bottom{
	width: 100%;
	height: 35%;
	border: 3px solid #07d;
	position: absolute;
	top: 65%;
}

.rs-bottom p{
	padding: 0em 1em;
	color: #07d;
	font-size: .75em;
}

.rs-bottom span:first-child{
	font-weight: bold;
	color: #000;
	display: block;
}

.rs-bottom span:nth-child(2){
	font-weight: normal;
	color: #000;
}

.rs-bottom-title{
	width: 100%;
	height: 30%;
	min-height: 1.5em;
	background-color: #07d;
}

.rs-bottom-title h4{
	text-align: center;
	color: #fff;
	position: relative;
	top: 1em;
}

@media all and (max-width: 980px){
	.hd-left{
		position: absolute;
		left: 1em;
	}

	.page-container{
		position: absolute;
		left: 1em;
		width: 100%;
	}

	.right-sidebar{
		float: right;
		/*position: absolute;*/
	/*	right: 3em;
		margin-left: 2em;*/
	}
}