*{
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/***** Header *****/
header{
	width: 100%;
	height: 5%;
	min-height: 2em;
	background-color: #000;
}

.hd-left{
	height: 100%;
	width: 30%;
	position: absolute;
	left: 10%;
	display: inline-block;
}
.stackexchange{
	height: 90%;
	width: 60%;
	position: relative;
	top: .5em;
}

.stackexchange h4{
	font-size: .8em;
	display: inline-block;
}
.stackexchange h4:first-child{
	color: white;
}

.stackexchange h4:nth-child(2){
	color: blue;
}

.down-arrow{
	width: 1em;
	padding: 1em;
}
.hd-searchbar{
	width: 20%;
	height: 70%;
	background-color: white;
	position: relative;
	top: 15%;
	left: 70%;
}

/***** Nav Bar *****/

.nav-bar{
	width: 80%;
	height: 15%;
	position: absolute;
	left: 10%;
}

.so-logo{
	width: 5%;
	height: 100%;
	display: inline-block;
	position: relative;
}

.so-logo-box{
	width: 100%;
	height: 40%;
	border: 3px solid #aaa;
	border-top: none;
	position: relative;
	top: 25%;
}

.so-logo-rectangle{
	width: 50%;
	height: 5%;
	z-index: 2;
}

.so-logo-rectangle:first-child{
	background-color: orange;
}

.so-logo-rectangle:nth-child(2){
	background-color: #FFC561;
}

.so-logo-rectangle:nth-child(3){
	background-color: #CF8600;
}

.so-logo-rectangle:nth-child(4){
	background-color: #BFA373;
}

.so-logo-rectangle:nth-child(5){
	background-color: brown;
	position: relative;
	left: 15%;
	top: 55%;
	transform: skewX(-60deg);
	transform: translateY(-5px);
}

.so-logo-rectangle:last-child{
	background-color: #aaa;
	position: relative;
	top: 50%;
}

.nav-title{
	width: 30%;
	display: inline-block;
	position: relative;
	bottom: 10%;
	font-weight: normal;
}

.nav-title h1{
	font-weight: normal;
}
.nav-options{
	height: 25%;
	display: inline-block;
	border: 1px solid black;
	background-color: #aaa;
	bottom: 0;
	position: relative;
	right: 8%;
	bottom: 10%;
}

.nav-options:last-child{
	position: absolute;
	right: 0;
}

.nav-options h3{
	color: white;
	font-weight: normal;
	font-size: 1em;
}


/***** Main Container *****/

.main-container{
	width: 60%;
	min-width: 35em;
	height: 80%;
	position: absolute;
	top: 22%;
	left: 10%;
	display: block;
}

.question-row{
	width: 100%;
	height: 15%;
	border-top: 1px solid #aaa;
	position: relative;
	display: block;
}

.question-row:first-child{
	height: 8%;
	border: none;
}

.top-questions{
	width: 50%;
	height: 100%;
	display: inline-block;
	border-bottom: 1px solid #aaa;
}

.top-questions h3{
	position: relative;
	top: 1em;
}

.interesting-box{
	width: 15%;
	height: 100%;
	position: absolute;
	left: 50%;
	display: inline-block;
	border: 1px solid #aaa;
	border-bottom: none;
}

.interesting-box h6{
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	bottom: .4em;
	left: 1em;
}

.featured-box{
	width: 15%;
	height: 100%;
	position: absolute;
	left: 65%;
	display: inline-block;
	border-bottom: 1px solid #aaa;
}

.number-box{
	width: 30%;
	height: 40%;
	padding: .3em .2em;
	background-color: blue;
	display: inline-block;
	font-size: .6em;
	color: white;
	position: relative;
	top: 40%;
	left: 15%;
	text-align: center;
	border-radius: 20%;
}

.featured{
	font-size: .7em;
	position: relative;
	top: 40%;
	left: 15%;
	display: inline-block;
}

.hot{
	width: 5%;
	height: 100%;
	position: absolute;
	left: 80%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.week{
	width: 7.5%;
	height: 100%;
	position: absolute;
	left: 85%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.month{
	width: 7.5%;
	height: 100%;
	position: absolute;
	left: 92.5%;
	display: inline-block;
	font-size: .7em;
	border-bottom: 1px solid #aaa;
}

.qr-header span{
	position: relative;
	top: 45%;
	left: 20%;
}

.question-row:nth-child(2){
	border-top: none;
}
.mini-box{
	width: 10%;
	height: 10%;
	text-align: center;
	position: relative;
	top: 20%;
}

.votes{
	position: absolute;
	left: 0;
	color: #000;
}

.answers{
	position: absolute;
	left: 10%;
	color: red;
}

.views{
	position: absolute;
	left: 20%;
	color: #bbb;
}

.question-title{
	width: 70%;
	height: 50%;
	position: absolute;
	left: 30%;
}

.question-title h6{
	color: blue;
	font-weight: bold;
	font-size: .8em;
	position: absolute;
	bottom: 0;
}


/***** Right Sidebar *****/

.right-sidebar{
	width: 18%;
	min-width: 10em;
	height: 80%;
	/*border: 1px solid black;*/
	position: absolute;
	top: 20%;
	right: 10%;
	display: block;
}

.rs-top{
	width: 100%;
	height: 55%;
	background-color: lightyellow;
	border: 1px solid #ccc;
	position: absolute;
	display: block;
}

.rs-top h4{
	color: #aaa;
	font-size: .8em;
	margin: .5em 1em;
}

.rs-top hr{
	width: 90%;
	position: relative;
}

.rs-middle{
	width: 100%;
	height: 10%;
	display: block;
	position: absolute;
	top: 55%;
}

.rs-middle h4{
	margin: .3em;
	font-size: .8em;
	width: 40%;
	display: inline-block;
}

.rs-middle h6{
	width: 50%;
	display: inline-block;
	color: blue;
	font-size: .5em;
	margin: .3em;

}

.rs-bottom{
	width: 100%;
	height: 35%;
	border: 3px solid blue;
	position: absolute;
	top: 65%;
}